{ 
	"parser": "babel-eslint",
	"rules": {
		"import/prefer-default-export": "off",
		"react/jsx-filename-extension": "off",
		"jsx-a11y/anchor-is-valid": "off",
		"react/no-array-index-key": "off",
	},
	"extends": "airbnb",
	env: {
		browser: true,
	}
}
