.container {
	display: flex;
	justify-content: center;
	align-items: center;
    min-height: 5vh;
    background-color: #1D2124;
    color: white;
}

.text {
    text-align: center;
}

.star {
    width: 25px;
    height: 25px;
    margin: 0 20px;
    fill: white;
}
